@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
 :root{
  font-family: ;
 }
#logo{
  font-family: "Great Vibes",cursive;
}
ul hr{
  height: 3px;
  background: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
